{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam assumenda at doloribus eligendi
            enim laborum sapiente sequi voluptates? Alias autem doloribus eaque fugiat maxime reiciendis repudiandae
            suscipit vel voluptatibus.
        </div>
        <div>Aliquam aperiam corporis dolor dolores ea eius eos est eveniet ipsam itaque laborum magnam, natus nihil
            numquam odio odit omnis optio perspiciatis quas qui quibusdam sed sunt veniam voluptas voluptatibus.
        </div>
        <div>Aliquid consequuntur cum error laboriosam nihil tenetur. Asperiores blanditiis consequuntur delectus dolore
            eius illum ipsa ipsam itaque maiores molestias mollitia nesciunt odit officiis optio quisquam, rerum
            sapiente! Amet, inventore, possimus.
        </div>
        <div>Corporis, dolor dolorum exercitationem impedit ipsum laudantium maiores molestiae obcaecati odio officia
            provident quaerat recusandae reiciendis repellat saepe sunt, tenetur vero voluptatem! Delectus dicta illum
            suscipit totam voluptatum. Labore, perferendis.
        </div>
        <div>Ad aliquam aperiam commodi cum dolor eligendi error est ex facere facilis ipsam iusto labore magnam magni
            maxime natus necessitatibus neque officia quis quos repudiandae, similique vel velit veniam voluptates!
        </div>
        <div>Commodi cumque delectus dicta dignissimos dolor doloremque earum est exercitationem inventore itaque libero
            maxime minima minus nesciunt numquam pariatur porro quaerat, quam qui quibusdam recusandae repellendus sunt
            voluptas. Error, quas.
        </div>
    </div>
{% endblock %}

